<div class="container py-5">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto text-center">
      <h1 class="display-4 fw-bold">Pligram</h1>
      <div class="lead mt-4">
      <p class="border border-primary rounded p-3">
      聖地巡礼（小説、映画、漫画、アニメなどのファンが作品のモチーフになった場所を訪れる行為）を行った結果のレビューを投稿、検索できるレビューサイトです。
     </p>
    </div>
    <br>
      <% unless user_signed_in? %>
<div class="mt-4">
  <%= link_to "ユーザー登録", new_user_registration_path, class: "btn btn-primary btn-lg d-block mb-3" %><br>
  <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary btn-lg d-block" %>
</div>
      <% end %>
    </div>
  </div>
</div>