<div class="container">
<div class="row">
  <div class="mx-auto text-center">
    <h1>Pligram</h1>
    <h4>聖地巡礼（小説、映画、漫画、アニメなどのファンが作品のモチーフになった場所を訪れる行為）​を行った結果のレビューを投稿、検索できるレビューサイト</h4>
    <h4>  email: 'sample1@example.com',password: 'sample1',name: "ユーザー"</h4>
    <h4>  email: 'admin1@example.com',password: 'admin1',name: "管理者"</h4>
  </div>
</div>
</div>