<div class="container my-5">
  <h3 class="text-center mb-4">
   <span class="px-3 py-2 rounded">ユーザー一覧（管理者）</span>
  </h3>
</div>

<div class="container">
  <div class="row">
    <div class="table-responsive">
      <table class="table table-hover align-middle">
        <thead class="thead-light">
          <tr>
            <th>ユーザーID</th>
            <th>ユーザーネーム</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= link_to user.name, admin_user_path(user.id), class: 'text-decoration-none' %></td>
              <td><%= user.email %></td>
              <td class="<%= user.is_active ? 'text-success fw-bold' : 'text-secondary' %>">
                <% if user.is_active %>
                  <i class="bi bi-check-circle-fill"></i> 有効
                <% else %>
                  <i class="bi bi-x-circle-fill"></i> 退会
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>