<div class="container">
  <div class="row">
    <div class="mx-auto text-center">
    <h3>本当に退会しますか？</h3>
    <p>
    退会すると、現在のアカウントでのログインや<br>
    レビュー、コメント投稿等ができなくなります。<br>
    退会する場合は、「退会する」をクリックしてください。
    </p>

   <%= link_to "退会しない", users_my_page_path, :class => "btn btn-primary ms-3" %>
   <%= link_to "退会する", users_withdraw_path, method: :patch, :class => "btn btn-danger ms-3", data: { confirm: "本当に退会しますか？" }  %>

    </div>
  </div>
</div>
