<footer style="background-color: #f8f9fa; margin-top: 30px; padding-top: 10px;">
  <div class="container text-center"> <!-- テキストを中央揃えに -->
    <%= link_to "管理者ログイン", new_admin_session_path, class: 'btn btn-outline-secondary btn-sm' %> <!-- ボタンの余白を削除 -->
  </div>
</footer>